<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Test.SampleTestNG2</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>DemoTest2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DemoTest3</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Test.SampleTestNG4</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>MobileLoginHomeDemo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>APILoginHomeDemo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>WebLoginHomeDemo</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Test.SampleTestNG3</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>MobileLoginCarDemo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>APICarloan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MobileSignoutLoginCarDemo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MobileSigninCarDemo</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Test.SampleTestNG</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Demo2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Demo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DemoLive</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
