<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LoanTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87b1af">  <td>20/02/25 20:59:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG.Demo()[pri:0, instance:Test.SampleTestNG@6ff29830]">Demo</td> 
  <td>main@297602875</td>   <td></td> </tr>
<tr bgcolor="87b1af">  <td>20/02/25 20:59:05</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG.Demo2()[pri:0, instance:Test.SampleTestNG@6ff29830]">Demo2</td> 
  <td>main@297602875</td>   <td></td> </tr>
<tr bgcolor="87b1af">  <td>20/02/25 20:59:05</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG.DemoLive()[pri:0, instance:Test.SampleTestNG@6ff29830]">DemoLive</td> 
  <td>main@297602875</td>   <td></td> </tr>
<tr bgcolor="76bb98">  <td>20/02/25 20:59:05</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG2.DemoTest2()[pri:0, instance:Test.SampleTestNG2@6a2b953e]">DemoTest2</td> 
  <td>main@297602875</td>   <td></td> </tr>
<tr bgcolor="76bb98">  <td>20/02/25 20:59:05</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG2.DemoTest3()[pri:0, instance:Test.SampleTestNG2@6a2b953e]">DemoTest3</td> 
  <td>main@297602875</td>   <td></td> </tr>
<tr bgcolor="72937b">  <td>20/02/25 20:59:05</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG3.APICarloan()[pri:0, instance:Test.SampleTestNG3@313b2ea6]">APICarloan</td> 
  <td>main@297602875</td>   <td></td> </tr>
<tr bgcolor="72937b">  <td>20/02/25 20:59:05</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG3.MobileLoginCarDemo()[pri:0, instance:Test.SampleTestNG3@313b2ea6]">MobileLoginCarDemo</td> 
  <td>main@297602875</td>   <td></td> </tr>
<tr bgcolor="72937b">  <td>20/02/25 20:59:05</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG3.MobileSigninCarDemo()[pri:0, instance:Test.SampleTestNG3@313b2ea6]">MobileSigninCarDemo</td> 
  <td>main@297602875</td>   <td></td> </tr>
<tr bgcolor="72937b">  <td>20/02/25 20:59:05</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG3.MobileSignoutLoginCarDemo()[pri:0, instance:Test.SampleTestNG3@313b2ea6]">MobileSignoutLoginCarDemo</td> 
  <td>main@297602875</td>   <td></td> </tr>
<tr bgcolor="86beff">  <td>20/02/25 20:59:05</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG4.APILoginHomeDemo()[pri:0, instance:Test.SampleTestNG4@2f465398]">APILoginHomeDemo</td> 
  <td>main@297602875</td>   <td></td> </tr>
<tr bgcolor="86beff">  <td>20/02/25 20:59:05</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG4.MobileLoginHomeDemo()[pri:0, instance:Test.SampleTestNG4@2f465398]">MobileLoginHomeDemo</td> 
  <td>main@297602875</td>   <td></td> </tr>
<tr bgcolor="86beff">  <td>20/02/25 20:59:05</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG4.WebLoginHomeDemo()[pri:0, instance:Test.SampleTestNG4@2f465398]">WebLoginHomeDemo</td> 
  <td>main@297602875</td>   <td></td> </tr>
</table>
