<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8b68d6">  <td>20/02/25 04:03:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG3.MobileLoginCarDemo()[pri:0, instance:Test.SampleTestNG3@6ab778a]">MobileLoginCarDemo</td> 
  <td>main@1288235781</td>   <td></td> </tr>
<tr bgcolor="8b68d6">  <td>20/02/25 04:03:26</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG3.MobileSigninCarDemo()[pri:0, instance:Test.SampleTestNG3@6ab778a]">MobileSigninCarDemo</td> 
  <td>main@1288235781</td>   <td></td> </tr>
<tr bgcolor="8b68d6">  <td>20/02/25 04:03:26</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNG3.MobileSignoutLoginCarDemo()[pri:0, instance:Test.SampleTestNG3@6ab778a]">MobileSignoutLoginCarDemo</td> 
  <td>main@1288235781</td>   <td></td> </tr>
</table>
